# Environment Variables
.env
.env.*
!.env.example

# Virtual Environments
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache/
.coverage
htmlcov/

# Local databases
*.db
*.sqlite3
